/* General Styles */
* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --primary-color: #2c3e50;
  --secondary-color: #e74c3c;
  --footer-highlight-color: #e5a00d; /* Darker yellow for better contrast */
  --font-family: "Roboto", sans-serif;
  --font-size: 15px;
  --h1-font-size: 30px;
  --h2-font-size: 18px;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 20px;
  background-color: #f9f9f9;
}

h1 {
  color: var(--primary-color);
  text-align: center;
}

h2 {
  color: var(--primary-color);
}

.section {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
}

.highlight {
  color: var(--secondary-color);
}

/* Footer Styling */
footer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  color: white;
  text-align: left;
  width: 100%;
  flex-direction: column;
  background-color: var(--primary-color);
  text-align: center;
  padding: 10px 0;
}

footer p {
  margin: 0;
  color: var(--footer-highlight-color);
  align-items: center;
}

.social-media ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; /* Display list items as flex items */
  justify-content: center; /* Center align items horizontally */
}

.social-media ul li {
  margin: 0 10px; /* Adjust spacing around icons */
}

.social-media ul li:last-child {
  margin-right: 0; /* Remove margin from the last item */
}

.social-media ul li a img {
  width: 30px;
}

footer p span {
  font-weight: lighter;
}

/* Responsive Grid for Larger Screens */
@media (min-width: 640px) {
  footer {
    flex-direction: row;
    gap: 10px;
    text-align: left;
    padding: 20px;
    width: 100%;
  }
}
