
@media screen and (min-width: 640px) {
  nav {
    display: flex;
    justify-content: flex-end;
		flex-direction: row;
    background-color: var(--header-bg-color);
    max-width: 400px;
    position: relative;
    top: 0;
    align-items: flex-end;
  }

  .hamburger {
    display: none; /* Initially hidden */
  }

  .image-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  }

  .articles {
    grid-template-columns: 1fr 1fr;
  }

  .articles {
    grid-template-columns: 1fr 1fr 1fr;
  }
  
}

   
   
   
   
   
   
   
   
   
   
   