* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: #ffffff;
  --main-text-color: #2c3e50;
  --header-bg-color: #005f33;
  --header-text-color: #ffffff;
  --nav-bg-color: #333333;
  --nav-text-color: #ffffff;
  --footer-bg-color: #005f33;
  --footer-text-color: #ffffff;
  --footer-highlight-color: #e5a00d; /* Darker yellow for better contrast */
  --font-family: 'Roboto', sans-serif;
}


h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 2rem;
	margin-left: 1rem;
}

h2 {
	font-size: 1.2rem;
	text-align: center;
	margin: 1rem;
}


body {
  font-family: var(--font-family);
  margin: 0;
  padding: 10px;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}


header,nav, main, footer {
  max-width: 900px;
  margin: 0 auto;
}




/* Header styling */
header {
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em; /* Space between img and h1 */
  top: 0;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px #333333; 
  width: 100%;
  z-index: 1000; /* Ensure header is above other elements */
}

.header-image {
  width: 100px;
  height: auto;
  position: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px #333333; 
}

header h1 {
  margin: 0;
}

main {
  padding: 1rem;
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}



.two-thirds {
  grid-column: span 1;
}

.one-third {
  grid-column: span 1;
}

.full-width {
  grid-column: span 1;
}

.card {
  display: flex;
  padding: 0rem;
  background-color: #f9f9f9;
  border: 1px solid rgb(177, 168, 168);
  border-radius: 10px;
  margin-bottom: 10px;
  flex-direction: column;
}

.card-header {
  background-color: #005f33;
  color: #fff;
  
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}

.card-heading h2 {
  border-bottom: 2px solid rgb(184, 183, 183);
  color: black;
}

.card-body {
  display: flex;
  padding: 10px;
}

.card-content {
  flex: 2;
  padding: 10px;
}

.card img {
  height: auto;
  width: 250px;
  margin: 1rem;
  padding: 2px;
}

.card p {
  color: #666;
  margin-bottom: 10px;
  text-align: center;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 2em; /* Space between img and h1 */
}

footer p {
  margin: 0;
  color: var(--footer-highlight-color);
}

.flag-image {
  width: 60px;
  height: auto;
}

footer p span {
  font-weight: lighter;
}




/* Navigation Styling */
nav {
  background-color: #333;
}
nav ul {
  list-style-type: none;
}
nav a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}
nav a:hover {
  text-decoration: overline;
}
.active {
  color: yellow;
}
nav.active {
  display: flex; /* Show when active */
}
.hamburger {
  display: block;
  cursor: pointer;
  color: var(--header-text-color);
  font-size: 30px;
}
.hidden {
  display: none;
}




/* Responsive Grid for Larger Screens */
@media (min-width: 640px) {
  main {
      grid-template-columns: 2fr 1fr;
  }

  .two-thirds {
      grid-column: span 1;
  }

  .one-third {
      grid-column: span 1;
  }

  .full-width {
      grid-column: span 2;
  }

  nav ul {
      display: flex;
  }

  nav ul li {
      flex: 1 1 100%;
  }

  .hamburger {
      display: none; /* Initially hidden */
  }
}
