/* General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: #ffffff;
  --main-text-color: #2c3e50;
  --header-bg-color: #005f33;
  --header-text-color: #ffffff;
  --nav-bg-color: #333333;
  --nav-text-color: #ffffff;
  --footer-bg-color: #005f33;
  --footer-text-color: #ffffff;
  --footer-highlight-color: #e5a00d; /* Darker yellow for better contrast */
  --font-family: 'Roboto', sans-serif;
}

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 10px;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
}

h1, h2 {
  text-align: center;
  font-family: var(--font-family);
}

h1 {
  font-size: 2rem;
  margin-left: 1rem;
}

h2 {
  font-size: 1.2rem;
  margin: 1rem;
}

/* Header Styling */
header {
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px #333333;
  width: 100%;
  z-index: 1000;
}

.header-image {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px #333333;
}

header h1 {
  margin: 0;
}

/* Main Content Styling */
main {
  padding: 1rem;
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}nav

.two-thirds {
  grid-column: span 1;
}

.one-third {
  grid-column: span 1;
}

.full-width {
  grid-column: span 1;
}

.card {
  background-color: #f9f9f9;
  border: 1px solid rgb(177, 168, 168);
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.card-header {
  background-color: #005f33;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;

}

.card-body {
  padding: 20px;
  display: flex;
}

.card-content {
  flex: 2;
  padding: 0px 10px;
}

.card img {
  margin: 1rem auto;
  display: block;
}

.card p {
  color: #666;
  margin-bottom: 10px;
  text-align: center;
}

/* Courses Section Styling */
.courses {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  gap: 10px;
}

.courses button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: darkslategrey;
  color: white;
}

.courses button:hover {
  background-color: rgb(141, 143, 54);
}

.courses-list {
  display: block;
}

.courses-list button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: rgb(39, 24, 10);
  color: white;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.courses-list button:hover {
  background-color: rgb(141, 143, 54);
}

header, footer {
  max-width: 900px;
  margin: auto;
  
}

/* Footer Styling */

footer {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

footer p {
  margin: 0;
  color: var(--footer-highlight-color);
}

.flag-image {
  width: 60px;
  height: auto;
}

footer p span {
  font-weight: lighter;
}

/* Navigation Styling */
nav {
  max-width: 900px;
  margin: 1rem auto;
}

.navigation {
  margin-top: 0; /* Reset default margin */
}

/* small view navigation */
#menu {
  font-size: 1.5rem;
  border: 0;
  background: none;
  color: white;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#menu::before {
  content: "☰";
}

#menu.open::before {
  content: "❎";
}

.navigation {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: #333;
  color: #fff;
}

.navigation a {
  display: none;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.navigation a:hover {
  background-color: #bbb;
  color: #333;
  font-weight: 700;
  text-decoration: underline;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
  display: block;
}

.active::before {
  content: "📍"; /* just a wayfinding symbol for the user */
}

.stuff {
  margin: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #bed;
  max-width: 580px;
  height: 100vh;
}

/* large view navigation */
@media (min-width: 640px) {
  h1 {
    font-size: 1.8rem;
    margin-left: 0;
    text-align: center;
  }

  h2 {
    font-size: 1.2rem;
    text-align: center;
  }

  #menu {
    display: none; /* hide hamburger button */
  }

  .navigation {
    flex-direction: row;
  }

  .navigation a {
    display: block;
    flex: 1 1 100%;
  }

  .stuff {
    margin: 1rem auto;
  }

  .courses-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .courses-list button {
    width: calc(33.33% - 10px); /* Adjust according to your preference */
    margin-bottom: 10px; /* Adjust according to your preference */
  }

  /* Apply styles for every third button */
  .courses-list button:nth-child(3n+1) {
    order: -1; /* Place these buttons at the start */
  }
}

/* Responsive Grid for Larger Screens */
@media (min-width: 640px) {
  main {
    grid-template-columns: 2fr 1fr;
  }

  .two-thirds {
    grid-column: span 1;
  }

  .one-third {
    grid-column: span 1;
  }

  .full-width {
    grid-column: span 2;
  }

  nav ul {
    display: flex;
  }

  nav ul li {
    flex: 1 1 100%;
  }

  .hamburger {
    display: none; /* Initially hidden */
  }
}
